*
!/.blackfire.yml
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/scenario.bkf
!/update
!/update/.htaccess
!/README.md
# --------------------------------------------------------------------------------
# Ignorar directorios generados
/generated/
/pub/static/
/pub/media/
/var/
# Ignorar archivos generados
composer.lock
.env.php
.env
.env.dist
.env.development
.env.production
.idea/
*.iml
*.log
# Ignorar directorios de instalación
/vendor/
# Ignorar archivos de configuración local
/app/etc/config.php
/app/etc/env.php
# Ignorar archivos de caché y sesiones
/var/cache/
/var/session/
# Ignorar archivos de compilación de di.xml
/generated/code/
# Ignorar archivos de logs
/var/report/
/var/log/
