<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Alpha_MyModule::alphabackend"
             title="Alpha Team Dev"
             module="Alpha_MyModule"
             sortOrder="0"
             resource="Alpha_MyModule::alphabackend"
        />
        <add id="Alpha_MyModule::index"
             title="Alpha Team Dev - Index"
             module="Alpha_MyModule"
             sortOrder="10"
             parent="Alpha_MyModule::alphabackend"
             action="alpha/index"
             resource="Alpha_MyModule::index"
        />
    </menu>
</config>
