<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Alpha_MyModule::alphabackend" title="Alpha Team Dev" sortOrder="10">
                    <resource id="Alpha_MyModule::index" title="Alpha Team Dev Index" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
