<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Alpha\MyModule\Model\ResourceModel\Subscription\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">alpha_mymodule_subscriptions</argument>
            <argument name="resourceModel" xsi:type="string">Alpha\MyModule\Model\ResourceModel\Subscription\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item xsi:type="string" name="alpha_mymodule_subscription_listing_data_source">
                    Alpha\MyModule\Model\ResourceModel\Subscription\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
